.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    background-color: #0E0A14;
    width: 100%;
    height: 100vh;
}

.success p {
    color: #F0F0F5;
    font-weight: bold;
    font-size: 36px;
    margin-top: 12px;
}
